@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
:root{
    --primary-color: #0077FF;
    --secondary-color: #222222;
    --black-color-navbar: #333333;
    --white-color: #ffffff;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Work Sans', sans-serif;
}

/* start style navbar */
.container-navbar{
    padding-inline: 96px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.container-navbar .wrapper-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-navbar .wrapper-navbar .navbar-route{
    display: flex;
    gap: 96px;
    justify-content: center;
    align-items: center;
}

.container-navbar .wrapper-navbar .navbar-route .link-nav{
    display: flex;
    gap: 36px;
}

.container-navbar .wrapper-navbar .navbar-route .link-nav a{
    text-decoration: none;
    color: var(--black-color-navbar);
    font-size: 18px;
    line-height: 21.11px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.container-navbar .wrapper-navbar .navbar-route .link-nav a:hover{
    color: #0077FF;
}

.container-navbar .wrapper-navbar .navbar-route a button{
    border: none;
    background-color: var(--primary-color);
    border-radius: 50px;
    width: 160px;
    height: 50px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23.46px;
    color: white;
    cursor: pointer;
}

.container-navbar .wrapper-navbar .navbar-route a button:hover{
    background-color: #89b9f0;
}
/* end style navbar */

/* start style home */
.container-homePage{
    padding-inline: 96px;
}

.container-homePage .wrapper-homePage{
    display: flex;
    justify-content: space-between;
}

.container-homePage .wrapper-homePage .deskripsi-homePage{
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 544.39px;
}

.container-homePage .wrapper-homePage .deskripsi-homePage .judul{
    font-weight: 600;
    font-size: 25px;
    color: var(--secondary-color);
}

.container-homePage .wrapper-homePage .deskripsi-homePage .deskripsi{
    display: flex;
    flex-direction: column;
}

.container-homePage .wrapper-homePage .deskripsi-homePage .deskripsi span{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 60px;
}

.container-homePage .wrapper-homePage .deskripsi-homePage h1{
    font-weight: 700;
    font-size: 60px;
    color: var(--secondary-color);
}

.container-homePage .wrapper-homePage .deskripsi-homePage p{
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    color: var(--secondary-color);
}

.container-homePage .wrapper-homePage .deskripsi-homePage .button-homePage{
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.container-homePage .wrapper-homePage .deskripsi-homePage .button-homePage button{
    border: none;
}

.container-homePage .wrapper-homePage .deskripsi-homePage .button-homePage .hire{
    background-color: var(--primary-color);
    width: 161px;
    height: 50px;
    border-radius: 50px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    line-height: 23.46px;
    transition: border 0.5s;
    cursor: pointer;
}

.container-homePage .wrapper-homePage .deskripsi-homePage .button-homePage .hire:hover{
    border: 2px solid #008cff;
    box-shadow: 0 0 10px #008cff;
}

.container-homePage .wrapper-homePage .deskripsi-homePage .button-homePage .download-cv{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    width: 240px;
    height: 50px;
    border-radius: 50px;
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 23.26px;
    color: var(--primary-color);
    cursor: pointer;
    transition: background 0.5s;
}

.container-homePage .wrapper-homePage .deskripsi-homePage .button-homePage .download-cv:hover{
    color: white;
    background-color: var(--primary-color);
    box-shadow: 0 0 10px #008cff;
}

.container-homePage .wrapper-homePage .deskripsi-homePage .button-homePage .download-cv:hover svg path{
    fill: #ffffff;
}

.container-homePage .wrapper-homePage .img-homePage{
    position: relative; 
    width: 100%;
    max-width: 500px;
    height: 550;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
}

.home-img {
    max-width: 450px;
    width: 100%;
    height: 450px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: 2px solid var(--primary-color);
}

.home-img img {
    width: auto;
    height: 100%;
    object-fit: cover;
    transition: all 300ms
}

.home-img img:hover{
    transform: scale(1.25);
}

/* Styling untuk label teknologi */
.label {
    position: absolute;
    background-color: white;
    border-radius: 40px;
    padding-inline: 30px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styling untuk ikon */
.icon-tool {
    width: 28px;
    height: 28px;
    margin-right: 10px; /* Spasi antara ikon dan teks */
}

/* Posisi label di sekitar gambar */
.label-1 {
    top: 70px;
    left: 0;
}

.label-2 {
    top: 70px;
    right: -30px;
}

.label-3 {
    bottom: 70px;
    left: 0;
}

.label-4 {
    bottom: 70px;
    right: -50px;
}

.label-5 {
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
}

.label-6 {
    top: 50%;
    right: -50px;
    transform: translateY(-50%);
}
.label-7{
    top: 90%;
}

/* end style home */

/* start style about me rifki */
.container-aboutMe{
    padding-inline: 96px;
    margin-top: 128px;
}

.container-aboutMe .wrapper-aboutMe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-img{
    width: 485.87px;
    height: 485.87px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: 2px solid var(--primary-color);
}

.container-aboutMe .wrapper-aboutMe .aboutMe-img img{
    width: auto;
    height: 100%;
    transition: all 300ms;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-img img:hover{
    transform: scale(1.25);
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain{
    display: flex;
    flex-direction: column;
    width: 580px;
    gap: 36px;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-deskripsi{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-deskripsi .heading{
    font-weight: 600;
    font-size: 20px;
    line-height: 23.46px;
    letter-spacing: 0.010em;
    color: var(--primary-color);
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-deskripsi h1{
    font-weight: 700;
    font-size: 50px;
    line-height: 58.65px;
    color: var(--secondary-color);
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-deskripsi h1 span{
    color: var(--primary-color);
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-deskripsi p{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: var(--secondary-color);
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-deskripsi p span{
    font-weight: 700;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-category-nav{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-category-nav button{
    width: 170px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 23.46px;
    cursor: pointer;
    background-color: var(--white-color);
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-category-nav button:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: 0 0 10px #008cff;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-content-nav #main-skill .skills {
    margin-top: 20px;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-content-nav #main-skill .skills .skill {
    margin-bottom: 20px;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-content-nav #main-skill .skills .skill p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    line-height: 30px;
    color: var(--secondary-color);
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-content-nav #main-skill .skills .skill .progress-bar {
    background-color: #e0e0e0;
    border-radius: 10px;
    height: 10px;
    width: 100%;
    position: relative;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-content-nav #main-skill .skills .skill .progress-bar .progress {
    background-color: var(--primary-color);
    height: 100%;
    border-radius: 10px;
    position: relative;
}
/* end style about me rifki */

/* start style services rifki */
.container-services{
    padding-inline: 96px;
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-services .heading-services{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-services .heading-services .heading{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 23.46px;
    letter-spacing: 0.010em;
}

.container-services .heading-services h1{
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    color: var(--secondary-color);
}

.container-services .heading-services h1 span{
    color: var(--primary-color);
}

.container-services .heading-services p{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    width: 652px;
    color: var(--secondary-color);
}

.container-services .container-button-services{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
}

.container-services .container-button-services button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid var(--primary-color);
    background-color: white;
}

.container-services .container-button-services button:hover{
    background-color: var(--primary-color);
    box-shadow: 0 0 10px #008cff;
}

.container-services .container-button-services button:hover svg path{
    fill: var(--white-color);
}

.container-services .contain-services{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    
}

.container-services .contain-services .card{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--white-color);
    color: var(--secondary-color);
    width: 406px;
    padding: 18px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
}

.container-services .contain-services .card .deskripsi-services{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container-services .contain-services .card .deskripsi-services h4{
    width: 280px;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -0.1px;
    color: #000000;
}

.container-services .contain-services .card .deskripsi-services p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.1px;
    color: var(--black-color-navbar);
}

.container-services .contain-services .card .deskripsi-services .learn-more-services{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    margin-top: 12px;
}

.container-services .contain-services .card .deskripsi-services .learn-more-services p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.1px;
    color: var(--primary-color);
}
/* end style services rifki */

/* start mile stones rifki */
.container-mileStones{
    background-color: var(--primary-color);
    margin-top: 128px;
    overflow: hidden;
}

.container-mileStones .wrapper-mileStones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;
    padding-inline: 96px;
    padding-bottom: 54px;
    padding-top: 54px;
    z-index: 50;
}

.container-mileStones .wrapper-mileStones .heading-mileStones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-mileStones .wrapper-mileStones .heading-mileStones p{
    font-weight: 600;
    font-size: 20px;
    line-height: 23.46px;
    letter-spacing: 0.010em;
    color: #E9EFFF;
    
}

.container-mileStones .wrapper-mileStones .heading-mileStones h1{
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    color: var(--white-color);
    width: 684px;
    text-align: center;
}

.container-mileStones .wrapper-mileStones .container-card-mileStones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}


.container-mileStones .wrapper-mileStones .container-card-mileStones .card-mileStones{
    background-color: var(--white-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
}
/* end milestones rifki */

/* start style ourProjectRifki */
.container-ourProject{
    padding-inline: 96px;
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.container-ourProject .container-ourProject-heading{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.container-ourProject .container-ourProject-heading p{
    font-weight: 600;
    font-size: 20px;
    line-height: 23.46px;
    letter-spacing: 0.010em;
    color: var(--primary-color);
}


.container-ourProject .container-ourProject-heading h1{
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    color: var(--secondary-color);
    width: 684px;
}

.container-ourProject .container-ourProject-nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.container-ourProject .container-ourProject-nav button{
    padding-inline: 36px;
    height: 50px;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 23.46px;
    background-color: var(--white-color);
    cursor: pointer;
}

.container-ourProject .container-ourProject-nav button:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: 0 0 10px #008cff;
}

.container-ourProject .container-card-ourProject{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.container-ourProject .container-card-ourProject .card-ourProject{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container-ourProject .container-card-ourProject .card-ourProject .container-img-ourProject{
    width: 389px;
    height: 276px;
    border-radius: 38.89px;
    overflow: hidden;
    box-shadow: 0 0 5px #008cff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-ourProject .container-card-ourProject .card-ourProject .container-img-ourProject img{
    width: 100%;
    height: auto;
    transition: 300ms;
}

.container-ourProject .container-card-ourProject .card-ourProject .container-img-ourProject img:hover{
    transform: scale(1.25);
}

.container-ourProject .container-card-ourProject .card-ourProject .deskripsi-ourProject{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-inline: 24px;
}

.container-ourProject .container-card-ourProject .card-ourProject .deskripsi-ourProject h5{
    font-weight: 600;
    font-size: 23.34px;
    color: var(--secondary-color);
    line-height: 27.72px;
}

.container-ourProject .container-card-ourProject .card-ourProject .deskripsi-ourProject p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15.56px;
    color: var(--secondary-color);
    opacity: 0.8;
    line-height: 1.8em;
}

.container-ourProject .container-card-ourProject .card-ourProject .container-seeMore-ourProject{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F6F5F5;
    border-bottom-left-radius: 29px;
    border-bottom-right-radius: 29px;
}

.container-ourProject .container-card-ourProject .card-ourProject .container-seeMore-ourProject .wrapper-seeMore-ourProject{
    padding-inline: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.container-ourProject .container-card-ourProject .card-ourProject .container-seeMore-ourProject .container-seeMore-desc{
    display: flex;
    flex-direction: column;
}

.container-ourProject .container-card-ourProject .card-ourProject .container-seeMore-ourProject .container-seeMore-desc h5{
    font-weight: 600;
    font-size: 16px;
    color: var(--secondary-color);
    line-height: 27.72px;
    border-bottom-left-radius: 29px;
    border-bottom-right-radius: 29px;
}

.container-ourProject .container-card-ourProject .card-ourProject .container-seeMore-ourProject .container-seeMore-desc p{
    font-size: 15.56px;
    color: var(--secondary-color);
    opacity: 0.8;
    line-height: 1.8em;
}

.container-ourProject .container-card-ourProject .card-ourProject .container-seeMore-ourProject a{
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding-inline: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* end style ourProjectRifki */