@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

:root {
    --primary-color: #0077FF;
    --secondary-color: #222222;
    --black-color-navbar: #333333;
    --white-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* start style navbar */
.container-navbar {
    padding-inline: 96px;
    padding-top: 24px;
    padding-bottom: 24px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--white-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container-navbar .wrapper-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-navbar .wrapper-navbar .navbar-route {
    display: flex;
    gap: 96px;
    justify-content: center;
    align-items: center;
}

.container-navbar .wrapper-navbar .navbar-route .link-nav {
    display: flex;
    gap: 36px;
}

.container-navbar .wrapper-navbar .navbar-route .link-nav a {
    text-decoration: none;
    color: var(--black-color-navbar);
    font-size: 18px;
    line-height: 21.11px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.container-navbar .wrapper-navbar .navbar-route .link-nav a:hover {
    color: #0077FF;
}

.container-navbar .wrapper-navbar .navbar-route a button {
    background-color: var(--primary-color);
    border-radius: 50px;
    width: 160px;
    height: 50px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23.46px;
    color: white;
    cursor: pointer;
    transition: background 0.5s;
    
}

.container-navbar .wrapper-navbar .navbar-route a button:hover {
    background-color: #008cff;
    box-shadow: 0 0 10px var(--primary-color);
}

.container-navbar .wrapper-navbar .navbar-route button{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: #0077FF;
    border: none;
    background: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
}

.container-navbar .wrapper-navbar .navbar-route .dropdown{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
    right: 6%;
    top: 5em;
    width: 12%;
}

.container-navbar .wrapper-navbar .navbar-route .dropdown.active{
    display: block;
}

.container-navbar .wrapper-navbar .navbar-route .dropdown.active{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container-navbar .wrapper-navbar .navbar-route .dropdown.active li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #222222;
    padding: 10px;
}

.container-navbar .wrapper-navbar .navbar-route .dropdown.active li a:hover{
    color: #0077FF;
}

/* end style navbar */

/* start style home */
.container-homePage {
    padding-inline: 96px;
    padding-top: 128px;
}

.container-homePage .wrapper-homePage {
    display: flex;
    justify-content: space-between;
}

.container-homePage .wrapper-homePage .deskripsi-homePage {
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 544.39px;
}

.container-homePage .wrapper-homePage .deskripsi-homePage .judul {
    font-weight: 600;
    font-size: 25px;
    color: var(--secondary-color);
}

.container-homePage .wrapper-homePage .deskripsi-homePage .deskripsi {
    display: flex;
    flex-direction: column;
}

.container-homePage .wrapper-homePage .deskripsi-homePage .deskripsi span {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 60px;
}

.container-homePage .wrapper-homePage .deskripsi-homePage h1 {
    font-weight: 700;
    font-size: 60px;
    color: var(--secondary-color);
}

.container-homePage .wrapper-homePage .deskripsi-homePage p {
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    color: var(--secondary-color);
}

.container-homePage .wrapper-homePage .deskripsi-homePage .button-homePage {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.container-homePage .wrapper-homePage .deskripsi-homePage .button-homePage a {
    text-decoration: none;
}

.container-homePage .wrapper-homePage .deskripsi-homePage .button-homePage a button {
    border: none;
}

.container-homePage .wrapper-homePage .deskripsi-homePage .button-homePage a .hire {
    background-color: var(--primary-color);
    width: 161px;
    height: 50px;
    border-radius: 50px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    line-height: 23.46px;
    transition: border 0.5s;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.5s;
}

.container-homePage .wrapper-homePage .deskripsi-homePage .button-homePage a .hire:hover {
    background-color: #008cff;
    box-shadow: 0 0 10px var(--primary-color);
}

.container-homePage .wrapper-homePage .deskripsi-homePage .button-homePage a .download-cv {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    width: 240px;
    height: 50px;
    border-radius: 50px;
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 23.26px;
    color: var(--primary-color);
    cursor: pointer;
    transition: background 0.5s;
}

.container-homePage .wrapper-homePage .deskripsi-homePage .button-homePage a .download-cv:hover {
    color: white;
    background-color: var(--primary-color);
    box-shadow: 0 0 10px #008cff;
}

.container-homePage .wrapper-homePage .deskripsi-homePage .button-homePage a .download-cv:hover svg path {
    fill: #ffffff;
}

.container-homePage .wrapper-homePage .img-homePage {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 550;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-img {
    max-width: 450px;
    width: 100%;
    height: 450px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: 2px solid var(--primary-color);
}

.home-img img {
    width: auto;
    height: 100%;
    object-fit: cover;
    transition: all 300ms
}

.home-img img:hover {
    transform: scale(1.25);
}

/* Styling untuk label teknologi */
.label {
    position: absolute;
    background-color: white;
    border-radius: 40px;
    padding-inline: 30px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styling untuk ikon */
.icon-tool {
    width: 28px;
    height: 28px;
    margin-right: 10px;
    /* Spasi antara ikon dan teks */
}

/* Posisi label di sekitar gambar */
.label-1 {
    top: 70px;
    left: 0;
}

.label-2 {
    top: 70px;
    right: -30px;
}

.label-3 {
    bottom: 70px;
    left: 0;
}

.label-4 {
    bottom: 70px;
    right: -50px;
}

.label-5 {
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
}

.label-6 {
    top: 50%;
    right: -50px;
    transform: translateY(-50%);
}

.label-7 {
    top: 90%;
}

/* end style home */

/* start style about me rifki */
.container-aboutMe {
    padding-inline: 96px;
    margin-top: 128px;
}

.container-aboutMe .wrapper-aboutMe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-img {
    width: 485.87px;
    height: 485.87px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: 2px solid var(--primary-color);
}

.container-aboutMe .wrapper-aboutMe .aboutMe-img img {
    width: auto;
    height: 100%;
    transition: all 300ms;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-img img:hover {
    transform: scale(1.25);
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain {
    display: flex;
    flex-direction: column;
    width: 580px;
    gap: 36px;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-deskripsi {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-deskripsi .heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 23.46px;
    letter-spacing: 0.010em;
    color: var(--primary-color);
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-deskripsi h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 58.65px;
    color: var(--secondary-color);
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-deskripsi h1 span {
    color: var(--primary-color);
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-deskripsi p {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: var(--secondary-color);
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-deskripsi p span {
    font-weight: 700;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-category-nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-category-nav button {
    width: 170px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 23.46px;
    cursor: pointer;
    background-color: var(--white-color);
    transition: background 0.5s;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-category-nav button.active {
    color: white;
    background-color: var(--primary-color);
    box-shadow: 0 0 10px #008cff;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-category-nav button:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: 0 0 10px #008cff;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-content-nav #main-skill .skills {
    margin-top: 20px;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-content-nav #main-skill .skills .skill {
    margin-bottom: 20px;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-content-nav #main-skill .skills .skill p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    line-height: 30px;
    color: var(--secondary-color);
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-content-nav #main-skill .skills .skill .progress-bar {
    background-color: #e0e0e0;
    border-radius: 10px;
    height: 10px;
    width: 100%;
    position: relative;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-content-nav #main-skill .skills .skill .progress-bar .progress {
    background-color: var(--primary-color);
    height: 100%;
    border-radius: 10px;
    position: relative;
}


.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-content-nav .container-rewards {
    margin-top: 24px;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-content-nav .container-rewards ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-content-nav .container-rewards ul li {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    text-decoration: none;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-content-nav .container-rewards ul li img {
    width: 40px;
    height: 40px;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-content-nav .container-rewards ul li p {
    font-size: 20px;
    font-weight: 600;
    line-height: 16px;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-content-nav .container-education {
    flex-direction: row;
    gap: 48px;
    margin-top: 24px;
    align-items: center;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-content-nav .container-education .container-img {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-content-nav .container-education .container-img img {
    width: 70px;
    height: 70px;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-content-nav .container-education .container-img .beda-ukuran {
    width: 90px;
    height: 70px;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-content-nav .container-education p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
    justify-content: end;
}

.container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-content-nav .container-education p span {
    font-weight: 600;
}

/* end style about me rifki */

/* start style services rifki */
.container-services {
    padding-inline: 96px;
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 20px;
}

.container-services .heading-services {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-services .heading-services .heading {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 23.46px;
    letter-spacing: 0.010em;
}

.container-services .heading-services h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    color: var(--secondary-color);
}

.container-services .heading-services h1 span {
    color: var(--primary-color);
}

.container-services .heading-services p {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    width: 652px;
    color: var(--secondary-color);
}

.container-services .container-button-services {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
}

.container-services .container-button-services button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid var(--primary-color);
    background-color: white;
    transition: background 0.5s;
    cursor: pointer;
}

.container-services .container-button-services button:hover {
    background-color: var(--primary-color);
    box-shadow: 0 0 10px #008cff;
}

.container-services .container-button-services button:hover svg path {
    fill: var(--white-color);
}

.container-services .wrapper-services {
    overflow-x: hidden;
}

.container-services .wrapper-services .contain-services {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 16px);
    gap: 20px;
    transition: transform 0.4s ease;
}

.container-services .wrapper-services .contain-services .card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--white-color);
    color: var(--secondary-color);
    padding: 18px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    transition: 0.4s ease;
}

.container-services .wrapper-services .contain-services .card:hover {
    border: 2px solid #5372F0;
}

.container-services .wrapper-services .contain-services .card .deskripsi-services {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container-services .wrapper-services .contain-services .card .deskripsi-services h4 {
    width: 280px;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -0.1px;
    color: #000000;
}

.container-services .wrapper-services .contain-services .card .deskripsi-services a {
    text-decoration: none;
}

.container-services .wrapper-services .contain-services .card .deskripsi-services p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.1px;
    color: var(--black-color-navbar);
}

.container-services .wrapper-services .contain-services .card .deskripsi-services a .learn-more-services {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    margin-top: 12px;
}

.container-services .wrapper-services .contain-services .card .deskripsi-services a .learn-more-services p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.1px;
    color: var(--primary-color);
}

/* end style services rifki */

/* start mile stones rifki */
.container-mileStones {
    background-color: var(--primary-color);
    margin-top: 128px;
    overflow: hidden;
}

.container-mileStones .wrapper-mileStones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;
    padding-inline: 96px;
    padding-bottom: 54px;
    padding-top: 54px;
    z-index: 50;
}

.container-mileStones .wrapper-mileStones .heading-mileStones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-mileStones .wrapper-mileStones .heading-mileStones p {
    font-weight: 600;
    font-size: 20px;
    line-height: 23.46px;
    letter-spacing: 0.010em;
    color: #E9EFFF;

}

.container-mileStones .wrapper-mileStones .heading-mileStones h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    color: var(--white-color);
    width: 684px;
    text-align: center;
}

.container-mileStones .wrapper-mileStones .container-card-mileStones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}


.container-mileStones .wrapper-mileStones .container-card-mileStones .card-mileStones {
    background-color: var(--white-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    transition: background 0.5s;
}

/* .container-mileStones .wrapper-mileStones .container-card-mileStones .card-mileStones:hover{
    background-color: #00489A;;
    color: var(--white-color);
} */
/* end milestones rifki */

/* start style ourProjectRifki */
.container-ourProject {
    padding-inline: 96px;
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.container-ourProject .container-ourProject-heading {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.container-ourProject .container-ourProject-heading p {
    font-weight: 600;
    font-size: 20px;
    line-height: 23.46px;
    letter-spacing: 0.010em;
    color: var(--primary-color);
}


.container-ourProject .container-ourProject-heading h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    color: var(--secondary-color);
    width: 684px;
}

.container-ourProject .container-ourProject-nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.container-ourProject .container-ourProject-nav button {
    padding-inline: 36px;
    height: 50px;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 23.46px;
    background-color: var(--white-color);
    cursor: pointer;
    transition: background 0.5s;
}

.container-ourProject .container-ourProject-nav button.active {
    background-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: 0 0 10px #008cff;
}

.container-ourProject .container-ourProject-nav button:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: 0 0 10px #008cff;
}

.container-ourProject .container-card-ourProject {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
    justify-content: center;
    align-items: center;
}

.container-ourProject .container-card-ourProject .card-ourProject {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container-ourProject .container-card-ourProject .card-ourProject .container-img-ourProject {
    width: 350px;
    height: 250px;
    border-radius: 38.89px;
    overflow: hidden;
    border: 1px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-ourProject .container-card-ourProject .card-ourProject .container-img-ourProject img {
    width: 100%;
    height: auto;
    transition: 300ms;
}

.container-ourProject .container-card-ourProject .card-ourProject .container-img-ourProject img:hover {
    transform: scale(1.25);
}

.container-ourProject .container-card-ourProject .card-ourProject .deskripsi-ourProject {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-inline: 24px;
}

.container-ourProject .container-card-ourProject .card-ourProject .deskripsi-ourProject h5 {
    font-weight: 600;
    font-size: 23.34px;
    color: var(--secondary-color);
    line-height: 27.72px;
}

.container-ourProject .container-card-ourProject .card-ourProject .deskripsi-ourProject p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15.56px;
    color: var(--secondary-color);
    opacity: 0.8;
    line-height: 1.8em;
    width: 300px;
    text-align: justify;
}

.container-ourProject .container-card-ourProject .card-ourProject .container-seeMore-ourProject {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 350px;
    background-color: #F6F5F5;
    border-bottom-left-radius: 29px;
    border-bottom-right-radius: 29px;
}

.container-ourProject .container-card-ourProject .card-ourProject .container-seeMore-ourProject .wrapper-seeMore-ourProject {
    padding-inline: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.container-ourProject .container-card-ourProject .card-ourProject .container-seeMore-ourProject .container-seeMore-desc {
    display: flex;
    flex-direction: column;
}

.container-ourProject .container-card-ourProject .card-ourProject .container-seeMore-ourProject .container-seeMore-desc h5 {
    font-weight: 600;
    font-size: 16px;
    color: var(--secondary-color);
    line-height: 27.72px;
    border-bottom-left-radius: 29px;
    border-bottom-right-radius: 29px;
}

.container-ourProject .container-card-ourProject .card-ourProject .container-seeMore-ourProject .container-seeMore-desc p {
    font-size: 15.56px;
    color: var(--secondary-color);
    opacity: 0.8;
    line-height: 1.8em;
}

.container-ourProject .container-card-ourProject .card-ourProject .container-seeMore-ourProject a {
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding-inline: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.5s;
}

.container-ourProject .container-card-ourProject .card-ourProject .container-seeMore-ourProject a:hover {
    background-color: #008cff;
    box-shadow: 0 0 10px var(--primary-color);
}

/* end style ourProjectRifki */

/* start style testimoni rifki */
.testimoni-container {
    padding-inline: 96px;
    margin-top: 124px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.testimoni-container .testimoni-heading {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.testimoni-container .testimoni-heading p {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.010em;
}

.testimoni-container .testimoni-heading h4 {
    font-weight: bold;
    font-size: 50px;
    line-height: 0.5em;
}

.testimoni-container .testimoni-nav {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.testimoni-container .testimoni-nav button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid var(--primary-color);
    background-color: white;
    cursor: pointer;
    transition: background 0.5s;
}

.testimoni-container .testimoni-nav button:hover {
    background-color: var(--primary-color);
    box-shadow: 0 0 10px #008cff;
}

.testimoni-container .testimoni-nav button:hover svg path {
    fill: var(--white-color);
}


.testimoni-container .wrapper-testimoni-card {
    overflow-x: hidden;
}

.testimoni-container .wrapper-testimoni-card .container-card-testimoni {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 12px);
    gap: 16px;
    transition: transform 0.4s ease;
}

.testimoni-container .wrapper-testimoni-card .container-card-testimoni .card-testimoni {
    display: flex;
    flex-direction: column;
    border: 1px solid #DDDDDD;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 16px;
    color: var(--secondary-color);
    transition: background 0.5s;
    transition: 0.4s ease;
}

.testimoni-container .wrapper-testimoni-card .container-card-testimoni .card-testimoni:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.testimoni-container .wrapper-testimoni-card .container-card-testimoni .card-testimoni .container-img-testimoni {
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.testimoni-container .wrapper-testimoni-card .container-card-testimoni .card-testimoni .container-img-testimoni:hover {
    box-shadow: 0 0 10px #008cff;
}

.testimoni-container .wrapper-testimoni-card .container-card-testimoni .card-testimoni .container-img-testimoni img {
    width: 100%;
    height: auto;
    transition: 300ms;
}

.testimoni-container .wrapper-testimoni-card .container-card-testimoni .card-testimoni .container-img-testimoni img:hover {
    scale: 1.25;
}

.testimoni-container .wrapper-testimoni-card .container-card-testimoni .card-testimoni .star-testimoni {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.testimoni-container .wrapper-testimoni-card .container-card-testimoni .card-testimoni p {
    font-weight: 400;
    font-size: 16;
    line-height: 20px;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: center;
    align-items: center;
}

.testimoni-container .wrapper-testimoni-card .container-card-testimoni .card-testimoni .indetity-container-testimoni h4 {
    font-weight: 600;
    font-size: 16;
    text-transform: uppercase;
}

.testimoni-container .wrapper-testimoni-card .container-card-testimoni .card-testimoni .identity-container-testimoni p {
    font-weight: 400;
    font-size: 16px;
    opacity: 0.7;
}

/* end style testinomi rifki */

/* start style contactMe Rifki */
.container-contactMe {
    background-color: var(--primary-color);
    margin-top: 128px;
    position: relative;
}

.container-contactMe .pesawat {
    position: absolute;
    left: 0;
    top: 0;
}

.container-contactMe .location {
    position: absolute;
    right: 0;
    top: 0;
}

.container-contactMe .wrapper-contactMe {
    padding-inline: 96px;
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.container-contactMe .wrapper-contactMe .heading-contactMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.container-contactMe .wrapper-contactMe .heading-contactMe p {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.010em;
    color: var(--white-color);
}

.container-contactMe .wrapper-contactMe .heading-contactMe h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 0.5em;
    color: white;
}

.container-contactMe .wrapper-contactMe .form-contactMe {
    display: flex;
    flex-direction: row;
    gap: 48px;
    margin-top: 48px;
}

.container-contactMe .wrapper-contactMe .form-contactMe .detailInformation-contactMe {
    background-color: var(--white-color);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 15px;
}

.container-contactMe .wrapper-contactMe .form-contactMe .detailInformation-contactMe .heading-detailInformation-contactMe {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container-contactMe .wrapper-contactMe .form-contactMe .detailInformation-contactMe .heading-detailInformation-contactMe h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--black-color-navbar);
}

.container-contactMe .wrapper-contactMe .form-contactMe .detailInformation-contactMe .heading-detailInformation-contactMe h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: var(--black-color-navbar);
}

.container-contactMe .wrapper-contactMe .form-contactMe .detailInformation-contactMe .deskripsi-detailInformation-contactMe {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container-contactMe .wrapper-contactMe .form-contactMe .detailInformation-contactMe .deskripsi-detailInformation-contactMe p {
    font-size: 16px;
    line-height: 26px;
    color: var(--black-color-navbar);
}

.container-contactMe .wrapper-contactMe .form-contactMe .detailInformation-contactMe .deskripsi-detailInformation-contactMe p span {
    font-weight: 600;
}

.container-contactMe .wrapper-contactMe .form-contactMe form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-contactMe .wrapper-contactMe .form-contactMe form .nameAndEmail-contactMe {
    display: flex;
    flex-direction: row;
    gap: 8px;
}


.container-contactMe .wrapper-contactMe .form-contactMe form .nameAndEmail-contactMe input {
    background-color: var(--white-color);
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-inline: 12px;
    border: 1px solid white;
}

.container-contactMe .wrapper-contactMe .form-contactMe form input {
    background-color: var(--white-color);
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 16px;
    padding-inline: 16px;
    outline: none;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid white;
    width: 396px;
}

/* Sembunyikan radio button asli */
.container-contactMe .wrapper-contactMe .form-contactMe form input[type="radio"] {
    display: none;
}

/* Style untuk label radio button */
.container-contactMe .wrapper-contactMe .form-contactMe form label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
}

/* Tambahkan elemen custom sebelum label */
.container-contactMe .wrapper-contactMe .form-contactMe form label::before {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid var(--white-color);
    /* Border default */
    margin-right: 8px;
    background-color: transparent;
    /* Background default */
    transition: background-color 0.3s, border-color 0.3s;
}

/* Saat radio button dipilih, ubah warna */
.container-contactMe .wrapper-contactMe .form-contactMe form input[type="radio"]:checked+label::before {
    background-color: #00489A;
    /* Warna saat dipilih */
    border-color: #00489A;
    /* Border berubah jadi merah saat dipilih */
}

.container-contactMe .wrapper-contactMe .form-contactMe form .wrapper-metode {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-contactMe .wrapper-contactMe .form-contactMe form .wrapper-metode .wrapper-email {
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
}

.container-contactMe .wrapper-contactMe .form-contactMe form .wrapper-metode .wrapper-email label {
    color: white;
}

.container-contactMe .wrapper-contactMe .form-contactMe form .wrapper-metode .wrapper-telpon {
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
}

.container-contactMe .wrapper-contactMe .form-contactMe form .wrapper-metode .wrapper-telpon label {
    color: white;
}

.container-contactMe .wrapper-contactMe .form-contactMe form .long-text {
    height: 142px;
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 12px;
}

.container-contactMe .wrapper-contactMe .form-contactMe form button {
    background-color: #00489A;
    height: 54px;
    color: var(--white-color);
    font-size: 20px;
    font-weight: 700;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.container-contactMe .wrapper-contactMe .form-contactMe form button:hover {
    border: 2px solid #008cff;
    box-shadow: 0 0 10px #008cff;
}

/* end style contactMe */

/* start style detail project */
.container-detail-project {
    padding-inline: 96px;
    padding-top: 128px;
    display: flex;
    flex-direction: column;
}

.container-detail-project .heading-detail-project {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 54px;
    justify-content: center;
    align-items: center;
}

.container-detail-project .heading-detail-project h4 {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 23.46px;
    letter-spacing: 0.010em;
}

.container-detail-project .heading-detail-project h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    color: var(--secondary-color);
}

.container-detail-project .wrapper-detail-project {
    display: flex;
    flex-direction: row;
    gap: 96px;
}

.container-detail-project .wrapper-detail-project .container-img {
    width: 500px;
    height: 300px;
    overflow: hidden;
    border: 1px solid var(--primary-color);
    border-radius: 12px;
}

.container-detail-project .wrapper-detail-project .container-img img {
    width: 100%;
    height: auto;
    transition: 0.5s;
}

.container-detail-project .wrapper-detail-project .container-img img:hover {
    transform: scale(1.25);
}

.container-detail-project .wrapper-detail-project .container-deskripsi {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 600px;
}

.container-detail-project .wrapper-detail-project .container-deskripsi .heading {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.container-detail-project .wrapper-detail-project .container-deskripsi .heading h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 30px;
    color: var(--primary-color);
}

.container-detail-project .wrapper-detail-project .container-deskripsi .heading .heading-2 {
    display: flex;
    flex-direction: row;
    gap: 96px;
    opacity: 0.7;
}

.container-detail-project .wrapper-detail-project .container-deskripsi .heading .heading-2 h4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 600;
}

.container-detail-project .wrapper-detail-project .container-deskripsi .heading .heading-2 h4 img {
    width: 40px;
    height: 40px;
}

.container-detail-project .wrapper-detail-project .container-deskripsi p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--secondary-color);
}

.container-detail-project .wrapper-detail-project .container-deskripsi a {
    border: 2px solid var(--primary-color);
    background-color: var(--white-color);
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23.46px;
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    transition: background 0.5s;
}

.container-detail-project .wrapper-detail-project .container-deskripsi a:hover {
    background-color: #008cff;
    box-shadow: 0 0 10px var(--primary-color);
    color: white;
}

/* end style detail project */

/* start style footer */
footer {
    margin-top: 96px;
    background-color: var(--primary-color);
}

footer .footer-contain {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-inline: 96px;
}

footer .footer-contain .wrapper-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 36px;
}

footer .footer-contain .wrapper-footer .description {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .footer-contain .wrapper-footer .description p {
    margin-top: 18px;
    width: 450px;
    font-size: 20px;
    letter-spacing: -0.015em;
    color: #FCFCFD;
}

footer .footer-contain .wrapper-footer .description .icon-sosial-media {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

footer .footer-contain .wrapper-footer .quick-links {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

footer .footer-contain .wrapper-footer .quick-links .heading {
    font-size: 20px;
    color: var(--white-color);
    letter-spacing: -0.015em;
    font-weight: 600;
}

footer .footer-contain .wrapper-footer .quick-links .link {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .footer-contain .wrapper-footer .quick-links .link a {
    text-decoration: none;
}

footer .footer-contain .wrapper-footer .quick-links .link a p {
    font-size: 16px;
    letter-spacing: -0.015em;
    color: var(--white-color);
}

footer .footer-contain .wrapper-footer .quick-links .link a p:hover {
    text-decoration: underline;
    transition: 2s ease-in-out;
}

footer .footer-contain .border {
    width: 100%;
    border: 1px solid var(--white-color);
}

footer .footer-contain .copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}

footer .footer-contain .copyright p {
    font-size: 20px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.menu-icon {
    display: none;
}

/* end style footer */




/* rensponsivenya */
/* Awalnya sembunyikan menu navigasi di mobile dan tablet */
/* .container-navbar .navbar-route {
    display: flex;
} */

/* Sembunyikan navbar-route di tampilan mobile dan tablet */
@media (max-width: 768px) {
    .container-navbar {
        padding-inline: 24px;
    }

    /* Sembunyikan link dan tampilkan menu-icon */
    .container-navbar .wrapper-navbar .navbar-route {
        display: none;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: var(--white-color);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        border-radius: 8px;
        z-index: 1000;
    }

    .container-navbar .wrapper-navbar .navbar-route .link-nav {
        display: flex;
        flex-direction: column;
        gap: 24px;
        justify-content: center;
        align-items: center;
    }

    /* Tampilkan menu-icon */
    .menu-icon {
        display: flex;
        cursor: pointer;
        font-size: 24px;
    }
}

/* Tampilkan navbar-route kembali saat menu-icon ditekan */
.container-navbar .navbar-route.show {
    display: flex;
    width: 100%;
}

/* home */
/* Responsiveness */
@media (max-width: 1200px) {
    .container-homePage {
        padding-inline: 48px;
    }

    .wrapper-homePage {
        flex-direction: column-reverse;
        align-items: center;
    }

    .button-homePage {
        justify-content: center;
    }
}

@media (max-width: 768px) {

    .container-homePage .wrapper-homePage .img-homePage {
        position: relative;
        width: 100%;
        max-width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-img {
        max-width: 200px;
        width: 100%;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        border: 2px solid var(--primary-color);
    }

    .container-homePage {
        padding-inline: 24px;
    }

    .container-homePage .wrapper-homePage .deskripsi-homePage {
        width: 100%;
    }

    .container-homePage .wrapper-homePage .deskripsi-homePage .button-homePage {
        display: flex;
        flex-direction: row;
        gap: 8px;
        justify-content: center;
        align-items: center;
    }

    .container-homePage .wrapper-homePage .deskripsi-homePage .button-homePage a {
        width: 100%;
    }

    .container-homePage .wrapper-homePage .deskripsi-homePage .button-homePage a button {
        max-width: 170px;
        width: 100%;
    }

    .judul,
    .deskripsi span,
    h1 {
        font-size: 10px;
        text-align: center;
    }

    .deskripsi-homePage p {
        font-size: 20px;
        text-align: center;
    }

    .label {
        font-size: 12px;
        padding-inline: 20px;
    }

    .hire,
    .download-cv {
        font-size: 16px;
        width: 100%;
    }
}

@media (max-width: 576px) {
    .container-homePage {
        padding-inline: 12px;
    }

    .wrapper-homePage {
        align-items: center;
    }

    .button-homePage {
        flex-direction: column;
        gap: 16px;
    }

    .label {
        max-width: 120px;
        padding-inline: 15px;
    }

    .label {
        max-width: 100px;
        padding-inline: 15px;
    }

    .label-1 {
        top: 0;
        left: 20px;
    }

    .label-2 {
        top: 0px;
        right: 10px;
    }

    .label-3 {
        bottom: 50px;
        left: 0;
    }

    .label-4 {
        bottom: 50px;
        right: 10px;
    }

    .label-5 {
        top: 40%;
        left: -10px;
        transform: translateY(-50%);
    }

    .label-6 {
        top: 40%;
        right: -10px;
        transform: translateY(-50%);
    }

    .label-7 {
        top: 90%;
    }
}


/* about */
/* Ukuran Desktop */
@media (min-width: 1024px) {
    .container-aboutMe {
        padding-inline: 96px;
        margin-top: 128px;
    }

    .container-aboutMe .wrapper-aboutMe {
        flex-direction: row;
        justify-content: space-between;
    }

    .container-aboutMe .wrapper-aboutMe .aboutMe-img {
        width: 485px;
        height: 485px;
    }

    .container-aboutMe .wrapper-aboutMe .aboutMe-contain {
        width: 580px;
    }
}

/* Tablet (Portrait) */
@media (min-width: 768px) and (max-width: 1023px) {
    .container-aboutMe {
        padding-inline: 48px;
    }

    .container-aboutMe .wrapper-aboutMe {
        flex-direction: column;
        align-items: center;
    }

    .container-aboutMe .wrapper-aboutMe .aboutMe-img {
        width: 300px;
        height: 300px;
    }

    .container-aboutMe .wrapper-aboutMe .aboutMe-contain {
        width: 100%;
        text-align: center;
    }

    .container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-category-nav {
        flex-direction: column;
        gap: 8px;
    }

    .container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-category-nav button {
        width: auto;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .container-aboutMe {
        padding-inline: 16px;
    }

    .container-aboutMe .wrapper-aboutMe {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .container-aboutMe .wrapper-aboutMe .aboutMe-img {
        width: 200px;
        height: 200px;
    }

    .container-aboutMe .wrapper-aboutMe .aboutMe-contain {
        width: 100%;
        text-align: center;
        gap: 24px;
    }

    .container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-deskripsi h1 {
        font-size: 36px;
        line-height: 42px;
    }

    .container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-category-nav {
        flex-direction: column;
        gap: 8px;
    }

    .container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-category-nav button {
        width: 100%;
        font-size: 16px;
    }

    .container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-content-nav .container-rewards ul {
        flex-direction: column;
        gap: 8px;
    }

    .container-aboutMe .wrapper-aboutMe .aboutMe-contain .aboutMe-contain-skill .aboutMe-content-nav .container-education p {
        text-align: center;
    }
}


/* services */
@media (max-width: 768px) {
    .container-services {
        padding-inline: 48px;
    }

    .container-services .heading-services {
        width: 100%;
    }

    .container-services .heading-services p {
        width: 100%;
    }

    .container-services .heading-services h1 {
        font-size: 40px;
    }

    .container-services .container-button-services {
        justify-content: center;
        margin-top: 16px;
    }

    .container-services .wrapper-services .contain-services {
        grid-auto-columns: calc((100% / 1));
    }
}

/* Aturan untuk layar ponsel (lebar 480px ke bawah) */
@media (max-width: 480px) {
    .container-services {
        padding-inline: 16px;
    }

    .container-services .heading-services h1 {
        font-size: 28px;
    }

    .container-services .container-button-services {
        justify-content: center;
    }

    .container-services .wrapper-services .contain-services {
        grid-auto-columns: 100%;
        grid-gap: 10px;
    }

    .container-services .wrapper-services .contain-services .card .deskripsi-services h4 {
        font-size: 20px;
    }

    .container-services .wrapper-services .contain-services .card .deskripsi-services p,
    .container-services .wrapper-services .contain-services .card .deskripsi-services a .learn-more-services p {
        font-size: 16px;
    }
}

/* Media queries untuk penyesuaian tampilan pada berbagai ukuran layar */
@media (max-width: 768px) {
    .container-mileStones .wrapper-mileStones {
        padding: 40px 24px;
        gap: 40px;
    }

    .container-mileStones .wrapper-mileStones .heading-mileStones h1 {
        font-size: 28px;
        line-height: 1.3;
        width: 100%;
    }

    .container-mileStones .wrapper-mileStones .container-card-mileStones {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .container-mileStones .wrapper-mileStones .container-card-mileStones .card-mileStones {
        padding: 16px;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .container-mileStones .wrapper-mileStones {
        padding: 24px;
        gap: 30px;
    }

    .container-mileStones .wrapper-mileStones .heading-mileStones p {
        font-size: 18px;
    }

    .container-mileStones .wrapper-mileStones .heading-mileStones h1 {
        font-size: 24px;
        line-height: 1.2;
    }

    .container-mileStones .wrapper-mileStones .container-card-mileStones .card-mileStones {
        width: 100%;
        /* Agar card memenuhi lebar layar */
    }
}

/* Responsive layout for larger screens */
@media (min-width: 992px) {
    .container-ourProject {
        padding-inline: 96px;
    }

    .container-ourProject .container-card-ourProject {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Adjustments for tablets */
@media (max-width: 991px) {
    .container-ourProject .container-ourProject-heading h1 {
        font-size: 2em;
        width: 100%;
    }

    .container-ourProject .container-card-ourProject {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

    .container-ourProject .container-ourProject-nav button {
        padding-inline: 24px;
        font-size: 18px;
    }

    .container-ourProject .container-card-ourProject .card-ourProject .container-img-ourProject {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .container-ourProject .container-card-ourProject .card-ourProject .container-seeMore-ourProject {
        width: 100%;
    }
}

/* Mobile adjustments */
@media (max-width: 575px) {
    .container-ourProject {
        padding-inline: 16px;
        margin-top: 64px;
    }

    .container-ourProject .container-ourProject-heading h1 {
        font-size: 1.75em;
        line-height: 1.2em;
    }

    .container-ourProject .container-ourProject-nav {
        flex-direction: column;
        gap: 10px;
    }

    .container-ourProject .container-card-ourProject {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .container-ourProject .container-card-ourProject .card-ourProject .container-img-ourProject {
        width: 100%;
        height: auto;
    }

    .container-ourProject .container-card-ourProject .card-ourProject .container-seeMore-ourProject {
        width: 100%;
    }

    .container-ourProject .container-ourProject-nav button {
        width: 100%;
        padding-inline: 16px;
        font-size: 16px;
    }
}

/* Tablet */
@media (max-width: 1024px) {
    .testimoni-container {
        padding-inline: 48px;
    }

    .testimoni-container .wrapper-testimoni-card .container-card-testimoni {
        grid-auto-columns: calc((100% / 2) - 12px);
    }

    .testimoni-container .testimoni-heading h4 {
        font-size: 40px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .testimoni-container {
        padding-inline: 24px;
    }

    .testimoni-container .testimoni-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .testimoni-container .testimoni-heading h4 {
        font-size: 30px;
        text-align: center;
        line-height: 26px;
    }

    .testimoni-container .wrapper-testimoni-card .container-card-testimoni {
        grid-auto-columns: 100%;
    }

    .testimoni-container .testimoni-nav {
        gap: 8px;
    }

    .testimoni-container .testimoni-nav button {
        width: 40px;
        height: 40px;
    }

    .testimoni-container .wrapper-testimoni-card .container-card-testimoni .card-testimoni .container-img-testimoni {
        width: 100px;
        height: 100px;
    }

    .testimoni-container .wrapper-testimoni-card .container-card-testimoni .card-testimoni p {
        font-size: 14px;
        -webkit-line-clamp: 4;
    }

    .testimoni-container .wrapper-testimoni-card .container-card-testimoni .card-testimoni .identity-container-testimoni h4 {
        font-size: 14px;
    }

    .testimoni-container .wrapper-testimoni-card .container-card-testimoni .card-testimoni .identity-container-testimoni p {
        font-size: 12px;
    }
}

@media (max-width: 1024px) {
    .container-contactMe .wrapper-contactMe {
        padding-inline: 48px;
    }

    .container-contactMe .wrapper-contactMe .heading-contactMe h1 {
        font-size: 40px;
    }

    .container-contactMe .wrapper-contactMe .form-contactMe {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
}

/* Style for screens between 480px and 768px (large smartphones) */
@media (max-width: 768px) {
    .container-contactMe .wrapper-contactMe {
        padding-inline: 24px;
    }

    .container-contactMe .wrapper-contactMe .heading-contactMe h1 {
        font-size: 32px;
    }

    .container-contactMe .wrapper-contactMe .form-contactMe .detailInformation-contactMe {
        max-width: 300px;
        width: 100%;
        padding: 16px;
    }

    .container-contactMe .wrapper-contactMe .form-contactMe form {
        max-width: 300px;
        width: 100%;
    }

    .container-contactMe .wrapper-contactMe .form-contactMe form .nameAndEmail-contactMe {
        max-width: 300px;
        width: 100%;
        flex-direction: column;
    }
}

/* Style for screens smaller than 480px (small smartphones) */
@media (max-width: 480px) {
    .container-contactMe {
        margin-top: 64px;
    }

    .container-contactMe .pesawat,
    .container-contactMe .location {
        display: none;
        /* Hide icons for small screens */
    }

    .container-contactMe .wrapper-contactMe {
        padding: 10px;
    }

    .container-contactMe .wrapper-contactMe .heading-contactMe p {
        font-size: 16px;
    }

    .container-contactMe .wrapper-contactMe .heading-contactMe h1 {
        font-size: 24px;
    }

    .container-contactMe .wrapper-contactMe .form-contactMe {
        flex-direction: column;
        gap: 24px;
    }

    .container-contactMe .wrapper-contactMe .form-contactMe .detailInformation-contactMe {
        padding: 12px;
    }

    .container-contactMe .wrapper-contactMe .form-contactMe form .nameAndEmail-contactMe input,
    .container-contactMe .wrapper-contactMe .form-contactMe form .long-text {
        font-size: 14px;
    }

    .container-contactMe .wrapper-contactMe .form-contactMe form button {
        font-size: 18px;
    }
}

/* Responsive Styling */
@media (max-width: 1024px) {
    footer .footer-contain {
        padding-inline: 48px;
    }

    footer .footer-contain .wrapper-footer {
        flex-direction: column;
    }

    footer .footer-contain .wrapper-footer .description p {
        width: 100%;
        font-size: 18px;
    }

    footer .footer-contain .wrapper-footer .quick-links .heading,
    footer .footer-contain .wrapper-footer .quick-links .link a p {
        font-size: 18px;
    }

    footer .footer-contain .copyright {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 768px) {
    footer .footer-contain {
        padding-inline: 24px;
    }

    footer .footer-contain .wrapper-footer .description p {
        font-size: 16px;
    }

    footer .footer-contain .wrapper-footer .quick-links {
        margin-top: 20px;
    }

    footer .footer-contain .wrapper-footer .quick-links .heading {
        font-size: 16px;
    }

    footer .footer-contain .wrapper-footer .quick-links .link a p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    footer .footer-contain {
        padding-inline: 16px;
    }

    footer .footer-contain .wrapper-footer .description p,
    footer .footer-contain .wrapper-footer .quick-links .heading,
    footer .footer-contain .wrapper-footer .quick-links .link a p {
        font-size: 14px;
    }

    footer .footer-contain .copyright p {
        font-size: 16px;
    }
}