*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
}
.container-navbar{
    background-color: #171717;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin-inline: 96px;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    cursor: pointer;
    z-index: 10;
}

.hamburger span {
    display: block;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    width: 100%;
}

.container-navbar .icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-navbar .nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 56px;
}

.container-navbar .nav a{
    text-decoration: none;
}

.container-navbar .nav a .button-nav{
    padding: 20px;
    border-radius: 60px;
    padding-inline: 30px;
}
.container-navbar .nav .button-nav:hover{
    background-color: #FD853A;
    color:white;
}

.container-navbar .nav .button-nav p{
    font-size: 20px;
    letter-spacing: -0.015em;
    color: white;
}

/* start home */
.home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    padding-inline: 96px;
}

.home .home-info{
    display: flex;
    flex-direction: column;
}

.home .home-info .greeting{
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.03em;
    color: #000000;
    margin-bottom: 10px;
}

.home .home-info .name{
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0.03em;
    color: #FD6F00;
}

  .job-typing {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid;
    animation: typing 3s steps(20, end), blink 0.75s step-end infinite;
  }
  
  .job {
    animation-delay: 0s;
  }
  
  .job-2 {
    animation-delay: 0s; /* Menunda sampai setelah "Front end" selesai */
  }
.home .home-info .job{
    font-weight: 700;
    font-size: 100px;
    letter-spacing: 0.03em;
    line-height: 1.1em;
    color: #000000;
}

.home .home-info .job .job-2{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding-inline: 24px;
}

.home .home-info .keterangan{
    font-size: 21px;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.6);
    width: 650px;
    text-align: justify;
    margin-top: 10px;
}

.home .home-info a{
    text-decoration: none;
}

.home .home-info a .hire-me{
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FD6F00;
    width: 188px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 21px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}


.home-img-wrapper {
    position: relative; /* Untuk menempatkan label secara absolute */
    width: 100%;
    max-width: 500px;
    height: 550;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
    margin-top: 40px;
    margin-right: 40px;
}

.home-img {
    max-width: 485.87px;
    width: 100%;
    height: 485.87px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: 2px solid #fd853a;
}

.home-img img {
    width: auto;
    height: 100%;
    object-fit: cover;
    transition: all 300ms
}

.home-img img:hover{
    transform: scale(1.25);
}

/* Styling untuk label teknologi */
.label {
    position: absolute;
    background-color: white;
    border-radius: 40px;
    padding-inline: 30px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styling untuk ikon */
.icon-tool {
    width: 28px;
    height: 28px;
    margin-right: 10px; /* Spasi antara ikon dan teks */
}

/* Posisi label di sekitar gambar */
.label-1 {
    top: 70px;
    left: 0;
}

.label-2 {
    top: 70px;
    right: -30px;
}

.label-3 {
    bottom: 70px;
    left: 0;
}

.label-4 {
    bottom: 70px;
    right: -50px;
}

.label-5 {
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
}

.label-6 {
    top: 50%;
    right: -50px;
    transform: translateY(-50%);
}
.label-7{
    top: 90%;
}

/* about */
.container-about{
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 96px;
}

.container-about .about-img{
    width: 485.87px;
    height: 485.87px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: 2px solid #fd853a;
}

.container-about .about-img img{
    width: auto;
    height: 100%;
    transition: all 300ms;
}

.container-about .about-img img:hover{
    transform: scale(1.25);
}

.container-about .about-deskripsi{
    display: flex;
    flex-direction: column;
    justify-content: start ;
    gap: 10px;
    width: 756px;
}
.container-about .about-deskripsi .about-heading{
    font-size: 65px;
    font-weight: 600;
    letter-spacing: 0.03em;
    color: #000000;
}

.container-about .about-deskripsi .about-paragraf{
    font-size: 21px;
    letter-spacing: 0.03em;
    color: #000000;
}

/* Skill Progress Bar Styles */
.skills {
    margin-top: 20px;
}

.skill {
    margin-bottom: 20px;
}

.skill p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.progress-bar {
    background-color: #e0e0e0;
    border-radius: 10px;
    height: 10px;
    width: 100%;
    position: relative;
}

.progress {
    background-color: #fd853a;
    height: 100%;
    border-radius: 10px;
    position: relative;
}

/* Circle at the end of the progress bar */
.progress::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: 3px solid #fd853a;
    border-radius: 50%;
    padding: 2px;
}

/* services */
.container-service{
    padding-inline: 96px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.container-service .deskripsi-service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
} 

.container-service .deskripsi-service .heading-service{
    font-weight: 600;
    font-size: 65px;
    letter-spacing: 0.03em;
    color: #000000;

}

.container-service .deskripsi-service .paragraf-service{
    font-size: 21px;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    width: 932px;
}

.container-service .container-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.container-service .container-card .card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
    border-radius: 14px;
    padding-inline: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 6px;
}

.container-service .container-card .card .heading-service{
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0.03em;
    color: #000000;
    text-align: center;
}
.container-service .container-card .card .paragraf-service{
    font-size: 19px;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.container-project{
    padding-inline: 96px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.container-project .deskripsi-project{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.container-project .deskripsi-project .heading-project{
    font-weight: 600;
    font-size: 65px;
    letter-spacing: 0.03em;
    color:#1E1E1E;
}

.container-project .deskripsi-project .paragraf-project{
    font-size: 21px;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.6);
    width: 921px;
    text-align: center;
}

.container-project .container-bread-crump{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.container-project .container-bread-crump .bread-crump{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #545454 ;
    font-size: 24px;
    color: #000000;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.container-project .container-bread-crump .bread-crump:hover{
    background-color: #FD6F00;
    color: white;
}

.container-project .container-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-project .container-card .wrapper-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-project .container-card .wrapper-card .heading{
    font-size: 19px;
    letter-spacing: 0.03em;
    color: #FD6F00;
}

.container-project .container-card .wrapper-card p{
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.03em;
    color: #1E1E1E;
}

.container-project .container-card .wrapper-card .card-project{
    overflow: hidden;
    width: 445px;
    height: 601px;
    border-radius: 20px;
    border: 1px solid #FD6F00;
    background-color: #FFEBDB;
    display: flex;
    justify-content: center;
    align-items: end;
}
.container-project .container-card .card-project img{
    width: 80%;
    height: auto;
    transition: all 400ms;
}
.container-project .container-card .card-project img:hover{
    transform: scale(1.25);
}

/* start news letter */
.container-news-letter{
    padding-inline: 96px;
    margin-top: 200px;
}

.container-news-letter .wrapper-news-letter{
    width: 100%;
    height: 353px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #FACD49;
    border-radius: 29.59px;
}

.container-news-letter .wrapper-news-letter .pesawat{
    position: absolute;
    left: 18px;
    top: 0;
    z-index: 0;
}
.container-news-letter .wrapper-news-letter .location{
    position: absolute;
    right: 18px;
    top: 0;
    z-index: 0;
}

.container-news-letter .wrapper-news-letter .deskripsi{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;
}

.container-news-letter .wrapper-news-letter .deskripsi .heading{
    font-weight: 600;
    font-size: 39.59px;
    letter-spacing: 0.03em;
    color: #000000;
}

.container-news-letter .wrapper-news-letter .deskripsi p{
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #000000;
    width: 700px;
}

.container-news-letter .wrapper-news-letter .container-input{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.container-news-letter .wrapper-news-letter .container-input input{
    width: 400px;
    padding-inline: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 14px;
    background-color: #F8F8F8;
    color: 797979;
    border: none;
    outline: none;
    font-size: 13.81px;
    letter-spacing: 0.03em;
    z-index: 10;
}

.container-news-letter .wrapper-news-letter .container-input  button{
    padding-inline: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 14px;
    background-color: #FD6F00;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.container-news-letter .wrapper-news-letter .container-input  button:hover{
    background-color: rgba(253, 111, 0, 0.7); 
}

/* start footer */
.container-footer{
    margin-top: 100px;
    background-color: #272727;
}

.container-footer .footer-contain{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-inline: 96px;
}
.container-footer .footer-contain .wrapper-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 36px ;
}

.container-footer .footer-contain .wrapper-footer .description{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-footer .footer-contain .wrapper-footer .description p{
    margin-top: 18px;
    width: 450px;
    font-size: 20px;
    letter-spacing: -0.015em;
    color: #FCFCFD;
}

.container-footer .footer-contain .wrapper-footer .description .icon-sosial-media{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.container-footer .footer-contain .wrapper-footer .quick-links{
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.container-footer .footer-contain .wrapper-footer .quick-links .heading{
    font-size: 20px;
    color: #FD853A;
    letter-spacing: -0.015em;
}

.container-footer .footer-contain .wrapper-footer .quick-links .link{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-footer .footer-contain .wrapper-footer .quick-links .link a{
    text-decoration: none;
}

.container-footer .footer-contain .wrapper-footer .quick-links .link a p{
    font-size: 16px;
    letter-spacing: -0.015em;
    color: #FCFCFD;
}

.container-footer .footer-contain .wrapper-footer .quick-links .link a p:hover{
    text-decoration: underline;
    transition: 2s ease-in-out;
}

.container-footer .footer-contain .border{
    width: 100%;
    border: 2px solid #475467;
}

.container-footer .footer-contain .copyright{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}

.container-footer .footer-contain .copyright p{
    font-size: 20px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}


/* rensponsive */
/* Styling dropdown di layar kecil */
@media (max-width: 768px) {
    .container-navbar {
        flex-direction: row;
        align-items: center;
        margin-inline: 20px;
        padding: 20px;
        width: 100%;
    }

    .container-navbar .nav {
        display: none;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .container-navbar .icon {
        margin-bottom: 20px;
    }

    /* Menampilkan hamburger pada layar kecil */
    .hamburger {
        display: flex;
    }

    /* Menampilkan navbar saat hamburger diklik */
    .nav.active {
        display: flex;
    }
}